/* Main Message Body */
.message-body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa; /* Light background for the entire area */
}

/* Container for Sidebar and Content */
.message-container {
  display: flex;
  width: 100%;
  border: 1px solid #ddd; /* Add subtle border for the container */
  border-radius: 5px; /* Slightly rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  overflow: hidden;
}

.sidebar{
  width: 400px;
}
.content{
  width: 400px;
}
/* Adjustments for Small Screens */
@media (max-width: 768px) {
  .message-body {
    flex-direction: column;
    height: auto; /* Allow height to adjust for small screens */
  }

 
}
