<section class="comments">
  @if (showForm ) { @if (!isNotLoggedUser) {
  <h3>Контакт с продавача</h3>
  <div class="comment">
    <p>
      <strong> до: <i class="fas fa-user"></i> {{ ad?.userName }}</strong>
    </p>
  </div>
  <form (submit)="sendMessage(messageInput.value); $event.preventDefault()">
    <label for="comment">Изпрати съобщение:</label>
    <textarea
      #messageInput
      id="comment"
      rows="4"
      placeholder="Напишете вашето съобщение"
    >
    </textarea>

    <button type="submit">Изпрати</button>
  </form>
  } @else {
  <h4>Влезте в профила си за да изпратите съобщение</h4>
  } }@else {
  <div class="comments-else">
    <p>Тази обява е ваша.</p>
    <button class="edit-ad-button" (click)="navigateToEditAd()">
      Редактирай обявата
    </button>
  </div>

  }
</section>
