.comments{
    margin-top: 4%;
}


.comments h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.comment {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.comment p {
    font-size: 1rem;
    color: #555;
}

.comments form {
    margin-top: 15px;
}

.comments label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 10px;
}

.comments button {
    padding: 10px 20px;
    background-color: #0ebe92;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comments button:hover {
    border: solid ;
    border-color:#9B7EBD ;
    background-color: #ffc107;
}

.comments-else {
    display: flex; /* Arrange elements in a row */
    align-items: center; /* Vertically center align items */
    gap: 10px; /* Space between text and button */
  }
  
  .edit-ad-button {
    padding: 10px 20px;
    background-color: #ff6347; /* Tomato red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .edit-ad-button:hover {
    border: solid;
    border-color: #b22222; /* Dark red border */
    background-color: #ff4500; /* More intense red on hover */
  }
  