<section id="home" class="hero">
    <h2>Добре дошли в MusicStoreBulgaria</h2>
    <p>Най-доброто място за музикални инструменти и аудио техника, втора ръка !</p>
    <a href="#products" class="cta-button">Разгледай продукти</a>
</section>
<app-ads-view-home></app-ads-view-home>
<section id="description" class="description">
    <span class="close-description">&times;</span>
    <h2>Как работи MusicStoreBulgaria?</h2>
    <p>В MusicStoreBulgaria можете лесно да публикувате обяви за музикални инструменти и аудио техника, които вече не използвате, или да намерите нови и втора ръка продукти, които търсите.</p>
    <p>Ако имате стари музикални инструменти, аудио техника или аксесоари, които бихте искали да продадете, просто се регистрирайте и създайте обява. Ако пък сте в търсене на определен инструмент или техника, разгледайте нашите категории и намерете това, което ви е нужно!</p>
    <div class="cta-container">
        <a href="#register" class="cta-button">Регистрирай се сега</a>
        <a href="#login" class="cta-button-outline">Вход</a>
    </div>
</section>
