<main class="main-container">
    <!-- Filter Section -->
    <app-filter (filtersChanged)="onFiltersChanged($event)"></app-filter>
  
  
    <!-- Product List Section -->
    <section class="product-list">
          <!-- Search Section -->
    <app-search (search)="onSearch($event)"></app-search>
      <h2>Продукти</h2>
      <ul class="product-grid">
        @for (ad of filteredAds; track ad._id) {
          <li>
            <app-ad-details-card-sm [ad]="ad"></app-ad-details-card-sm>
          </li>
        }
      </ul>
    </section>
  </main>
  