.product-details-sm {
    display:block;
    max-width: 800px;

    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-thumbnail-sm {
    max-width: 120px; /* Set maximum width */
    max-height: 460px; /* Set maximum height */
    object-fit: cover; /* Ensures the image fits within the bounds without distortion */
    display: block; /* Ensures proper rendering as a block element */
    margin: 0 auto; /* Optional: Centers the image horizontally if needed */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }


  .product-title-sm {
    background-color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(43, 7, 73, 0.849);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 3px;
  }