

.product-thumbnail-sm {
    max-width: 120px; /* Set maximum width */
    max-height: 120px; /* Set maximum height */
    object-fit: cover; /* Ensures the image fits within the bounds without distortion */
    display: block; /* Ensures proper rendering as a block element */
    margin: 0 auto; /* Optional: Centers the image horizontally if needed */
    border-radius: 5px; /* Optional: Adds rounded corners */
    
  }


  .product-title-sm {
    background-color:rgb(47, 82, 87);
    font-size: 1.1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.849);
    box-shadow: 0 4px 8px rgba(202, 89, 81, 0.1);
    display: block;
    margin-bottom: 2px;
 
  }

  a{
    text-decoration:none;
  }
  
  .product-price-sm {
    
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}
