
/* Стилове за продуктовата секция */
/* Mobile-first styles for the product section */


.product-grid-2 {
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 100%;
}



/* Media queries for larger screens */
@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
    }
}

@media (min-width: 1068px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
    }
}

@media (min-width: 1368px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on larger screens */
    }
}


/* Секция Продукт */


.split-screen {
    margin-top: 1%;

    display: flex;
    width: 100%; /* Уверява се, че контейнерът запълва целия екран */
}

.split-screen .left,
.split-screen .right {
    flex: 1; /* Разпределя равномерно пространството */
    padding-top: 20px;
    padding-bottom: 20px;
}



.split-screen .left{
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(216, 214, 214, 0.4));
    border-radius: 8px;
    padding-left: 6%;
}

.split-screen .right {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(216, 214, 214, 0.4));
    padding-right: 6%;
}

@media (max-width: 1000px) {
    .split-screen {
        flex-direction: column; /* Променя подредбата на вертикална */
    }
    
    .split-screen .left,
    .split-screen .right {
        width: 100%; /* Уверява се, че всяка част запълва цялата ширина */
        padding: 10px; /* Регулиране на вътрешния отстъп */
    }
}

