.product-details, .comments, .profile {
    display:block;
    max-width: 800px;
    
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Common styles for grid items */
.product-grid li, .product-grid-2 li {
    display: block;
    background-color: #f1f1f1;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.down-right, .down-left{
    max-width: 100%;
    max-height: 100%;
    padding-top: 4%;
    padding-left: 6%;
}
