<section class="user-ads">
    <h3>Моите обяви</h3>
    <button class="add-ad-button" (click)="createAd()">Добави обява</button>
    @if (!loadingAds) {
      @if (ads.length > 0) {
        <ul>
          @for (ad of ads; track ad._id) {
            <li>
              <a href="product.html">
                <img [src]="ad.images[0]" alt="{{ ad.title }}" class="ad-thumbnail" />
                <span class="ad-title">{{ ad.title }}</span>
              </a>
              <button class="edit-button" (click)="editAd(ad._id)">Редакция</button>
              <button class="delete-button" (click)="deleteAd(ad._id)">Изтриване</button>
            </li>
          }
        </ul>
      } @else {
        <p>Нямате публикувани обяви</p>
      }
    } @else {
      <p>Зареждане на обяви...</p>
    }
  </section>
  
