<aside class="sidebar">
    <h2>Съобщения</h2>
  
    <div class="messages-section">
      @for (conversation of conversations; track conversation.user) {
        <div
          class="message-item"
          [class.active]="selectedConversationUser === conversation.user"
          (click)="selectConversation(conversation)"
        >
          <!-- Display the other participant's username -->
          <strong>
            {{
              conversation.messages[0].senderID._id === currentUserID
                ? conversation.messages[0].receiverID.username
                : conversation.messages[0].senderID.username
            }}
          </strong>
          <!-- Display the last message content -->
          <p>{{ conversation.lastMessage.content }}</p>
          <span>{{ conversation.lastMessage.timestamp | customDate }}</span>
        </div>
      }
    </div>
  </aside>
  