<main>
  <section class="profile">
    <h2>{{ isCurrentUser ? 'Моят профил' : 'Публичен профил' }}</h2>
    @if (user) {
      <p><strong>Име:</strong> {{ user.username }}</p>
      <p><strong>Първо име:</strong> {{ user.firstname || 'N/A' }}</p>
      <p><strong>Фамилия:</strong> {{ user.lastname || 'N/A' }}</p>
      <p><strong>Имейл:</strong> {{ user.email }}</p>
      <p><strong>Местоположение:</strong> {{ user.location || 'N/A' }}</p>
      @if (isCurrentUser) {
        <button (click)="editProfile()">Редакция на профил</button>
      }
    } @else {
      <p>{{ error }}</p>
    }
  </section>
  <app-user-ads [userId]="publicUserId"></app-user-ads>
</main>
