<main>
    <section class="profile">
      <h2>Моят профил</h2>
      @if (user) {
        <p><strong>Име:</strong> {{ user.username }}</p>
        <p><strong>Първо име:</strong> {{ user.firstname }}</p>
        <p><strong>Фамилия:</strong> {{ user.lastname }}</p>
        <p><strong>Имейл:</strong> {{ user.email }}</p>
      } @else {
        <p>Профилът не може да бъде зареден.</p>
      }
      <button (click)="editProfile()">Редакция на профил</button>
    </section>
    <app-user-ads></app-user-ads>
  </main>
  