/* Секция Профил */
/* Стилове за профилната секция */
.profile {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/*TODO : see what to do with those button used in this component and in user-ad component */
.profile button, .add-ad-button {
    width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(56, 116, 120);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-ad-button {
    background-color: #28a745; /* Зелен бутон за добавяне на обява */
}

.profile button:hover, .add-ad-button:hover {
    opacity: 0.8;
}

/*TO SEE WHAT TO DO WITH THE CANVAS BELOW*/


#animationCanvas {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #fff;
}
#verticalAnimationCanvasLeft {
    flex: 0 0 100px;
    background-color: #fff;
    border-radius: 8px;
}

#verticalAnimationCanvasRight{
    flex: 0 0 100px;
    background-color: #f1f1f1;
    border-radius: 8px;
}