<main>
    <div class="split-screen">
      <!-- Left Section -->
      <div class="left">
        <app-ad-details-card
        [ad]="ad"
        (userClicked)="goToUser($event)">
      </app-ad-details-card>
       <app-contact-form [ad]="ad"></app-contact-form>
      </div>
      <!-- Right Section -->
      <div class="right">
        <app-ad-details-images [ad]="ad"></app-ad-details-images>
  
        
        <app-ad-user-related-top-ads [relatedAds]="relatedAds"></app-ad-user-related-top-ads>
      </div>
    </div>
  </main>
  